.adding {
  padding: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    width: 600px;
    @include adpt($stab-r) {
      width: 100%;
    }
  }
  &__textarea{
    height: 200px;
    resize: none;
    @include adpt($bmob-r){
      height: 100px;
    }
  }
  &__label {
    width: 100%;
    outline: none;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid $blue;
    outline: none;
    transition: border-color 0.5s, color 0.5s;

    &._error {
      border-color: $red;
      color: $red;
    }
  }

  &__button {
    padding: 20px 40px;
    width: 100%;
    text-transform: uppercase;
    background-color: $blue;
    border: 0;
    border-radius: 4px;
    color: #333333;
    font-weight: 700;
    transition: background-color 0.5s, color 0.5s;

    &._error {
      background: $red;
      color: $white;
      animation: jitter 2s infinite;
    }
    @include adpt($bmob-r){
      padding: 12px 24px;
    }
  }
  @include adpt($bmob-r){
    padding: 0;
  }
}


@keyframes jitter {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}